        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding-left: 10%;
            padding-right: 10%;
            height: 100%;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            transition: background-color 0.3s, color 0.3s;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }

        .page-wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 10px;
            box-sizing: border-box;
        }

        .topbar {
            background-color: #ffffff;
            color: #333;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            height: auto;
            box-sizing: border-box;

            width: 100%;

            z-index: 1000;
            justify-content: space-between;

            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            flex-shrink: 0;
        }

        .topbar-left {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .back-icon {
            cursor: pointer;
            color: #555;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: background-color 0.2s;
            font-size: 24px;
        }

        .back-icon:hover {
            background-color: #f0f0f0;
        }

        .file-input-container {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        .file-input-container input[type=file] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
        }

        .file-input-button {
            background-color: #e0e0e0;
            color: #333;
            padding: 8px 15px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
        }

        .file-input-button:hover {
            background-color: #d0d0d0;
        }

        #fileNameDisplay {
            color: #555;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

        .mode-toggle-button {
            background-color: #007bff;
            color: white;
            padding: 8px 15px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
        }

        .mode-toggle-button:hover {
            background-color: #0056b3;
        }

        .main-content {
            flex-direction: column;
            box-sizing: border-box;
        }

        .content-header {
            padding: 0 20px;
            margin-bottom: 20px;
            flex-shrink: 0;
        }

        .scrollable-box {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 15px;

            height: 50vh;

            overflow-y: auto;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            transition: background-color 0.3s, border-color 0.3s;
            margin: 0 20px;
            flex-shrink: 0;
        }

        .scrollable-box p {
            margin-bottom: 10px;
        }

        body.dark-mode {
            background-color: #2c2c2c;
            color: #f5f5f5;
        }

        body.dark-mode .topbar {
            background-color: #1a1a1a;
            color: white;
            box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
        }

        body.dark-mode .back-icon {
            color: #e0e0e0;
        }

        body.dark-mode .back-icon:hover {
            background-color: #3a3a3a;
        }

        body.dark-mode .file-input-button {
            background-color: #444;
            color: white;
        }

        body.dark-mode .file-input-button:hover {
            background-color: #666;
        }

        body.dark-mode #fileNameDisplay {
            color: #e0e0e0;
        }

        body.dark-mode .mode-toggle-button {
            background-color: #0056b3;
        }

        body.dark-mode .mode-toggle-button:hover {
            background-color: #003d80;
        }

        body.dark-mode .scrollable-box {
            background-color: #3a3a3a;
            border-color: #555;
        }

        .file-path-input {
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 16px;
            font-size: 14px;
            flex-grow: 1;
            margin-right: 10px;
            min-width: 500px;
        }

        .file-path-input:hover {
            border: 1px solid #0056b3;
        }

        body.dark-mode .file-path-input {
            background-color: #333;
            color: #f5f5f5;
            border-color: #555;
        }

        body.dark-mode .open-file-button {
            background-color: #0056b3;
        }

        body.dark-mode .open-file-button:hover {
            background-color: #003d80;
        }

        .question-card {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
            padding: 15px 20px;
            max-width: 450px;
            width: 91%;
            border: 1px solid #e0e0e0;
            margin-top: 20px;

        }

        .popup-card {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
            padding: 15px 20px;
            max-width: 450px;
            border: 1px solid #e0e0e0;
            margin-top: 20px;
            position: fixed;
            z-index: 999;

            left: 30%;
            top: 25%;
            /* justify-self: center; */
            overflow: auto;

            width: 50%;
            height: 50%;
        }

        .popup-ask {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
            padding: 15px 20px;
            max-width: 450px;
            border: 1px solid #e0e0e0;
            margin-top: 20px;
            position: fixed;
            z-index: 1001;

            left: 30%;
            top: 10%;
            overflow: auto;

            width: 50%;
        }

        body.dark-mode .popup-ask {
            background-color: #2a2a2a;
            border-color: #444;
            box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
        }

        .question-text {
            font-size: 1.1em;
            color: #2c3e50;
            margin-bottom: 15px;
            line-height: 1.4;
            overflow-wrap: break-word;
        }

        .options-list {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow-wrap: break-word;
        }

        .option-item {
            background-color: #fcfcfc;
            border: 1px solid #e9e9e9;
            border-radius: 6px;
            margin-bottom: 8px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.2s ease, border-color 0.2s ease;
            overflow-wrap: break-word;
        }

        .option-item:hover {
            background-color: #edf5ff;
            border-color: #c0daff;
        }

        .option-item.selected {
            background-color: #d1e7fd;
            border-color: #007bff;
            font-weight: 500;
            color: #0056b3;
        }

        .option-letter {
            font-weight: bold;
            overflow-wrap: break-word;
            margin-right: 10px;
            color: #555;
            font-size: 0.95em;
            min-width: 18px;
        }

        .option-text {
            flex-grow: 1;
            color: #34495e;
            font-size: 0.95em;
            line-height: 1.3;
            overflow-wrap: break-word;
        }

        @media (max-width: 700px) {
            .question-card {
                padding: 15px;
                margin-top: 10px;
            }

            .question-text {
                font-size: 1em;
            }

            .option-item {
                padding: 8px 12px;
                font-size: 0.9em;
            }

            .option-letter {
                font-size: 0.9em;
            }
        }

        body.dark-mode .question-card {
            background-color: #2a2a2a;
            border-color: #444;
            box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
        }

        body.dark-mode .popup-card {
            background-color: #2a2a2a;
            border-color: #444;
            box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
        }

        body.dark-mode .question-text {
            color: #e0e0e0;
        }

        body.dark-mode .option-item {
            background-color: #333;
            border-color: #555;
        }

        body.dark-mode .option-item:hover {
            background-color: #444;
            border-color: #666;
        }

        body.dark-mode .option-item.selected {
            background-color: #004085;
            border-color: #007bff;
            color: #ffffff;
        }

        body.dark-mode .option-letter {
            color: #bbb;
        }

        body.dark-mode .option-text {
            color: #d0d0d0;
        }

        .page-header {
            font-size: large;
        }

        .button-container-left {
            display: flex;
            justify-content: left;
            align-items: left;
            width: 100%;
        }

        .btn {
            width: 200px;
            height: 50px;
            margin: 5px;
            background-color: white;
            color: #363636;
            font-size: large;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: width 0.1s ease-in-out;
        }

        body.dark-mode .btn {
            background-color: #333;
            color: white;
        }


        .btn:hover {
            background-color: #a09c9c;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 220px;
        }

        .btn:active {
            background-color: rgb(25, 25, 26);
        }

        .config-container {
            width: 350px;
            padding: 20px;
            margin: 20px;

            background-color: #f7f9fc;
            border: 1px solid #e0e6ed;
            border-radius: 8px;

            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        body.dark-mode .config-container {
            background-color: #333;
            border: 1px solid #e0e6ed;
            box-shadow: 0 4px 6px rbga(255, 255, 255, 0.05);
        }

        .config-label {
            font-family: sans-serif;
            font-size: 16px;
            color: #333;
            margin: 0;
        }

        body.dark-mode .config-label {
            color: white;
        }

        .config-input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 14px;
            width: 200px;
            box-sizing: border-box;
        }

        body.dark-mode .config-input {
            color: white;
            background-color: #333;
        }

        .config-input:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        .option-item-highlighted {
            background-color: #a8f0a6;
            border: 1px solid #e9e9e9;
            border-radius: 6px;
            margin-bottom: 8px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.2s ease, border-color 0.2s ease;
        }

        body.dark-mode .option-item-highlighted {
            background-color: #456344;
        }

        .tnds-ans-r {
            background-color: #fcfcfc;
            border: 1px solid #e9e9e9;
            border-radius: 6px;
            margin-left: 1px;
            margin-right: 5px;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.2s ease, border-color 0.2s ease;
        }

        .tnds-ans-r:hover {
            background-color: #a8f0a6;
            transition: background-color 0.2s ease, border-color 0.2s ease;
        }

        .tnds-ans-r-highlighted {
            background-color: #a8f0a6;
            border: 1px solid #e9e9e9;
            border-radius: 6px;
            margin-left: 1px;
            margin-right: 5px;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.2s ease, border-color 0.2s ease;
        }

        .tnds-ans-w {
            background-color: #fcfcfc;
            border: 1px solid #e9e9e9;
            border-radius: 6px;
            margin-right: 7px;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.2s ease, border-color 0.2s ease;
        }

        .tnds-ans-w:hover {
            background-color: #f0a6a6;
            transition: background-color 0.2s ease, border-color 0.2s ease;
        }

        .tnds-ans-w-highlighted {
            background-color: #f0a6a6;
            border: 1px solid #e9e9e9;
            border-radius: 6px;
            margin-right: 7px;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.2s ease, border-color 0.2s ease;
        }

        .TLN-input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            gap: 10px;
        }

        .square-input {
            width: 50px;
            height: 50px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1.2em;
        }

        .hidden-element {
            display: none;
        }

        .overlay-layer {
            background-color: #1a1a1a;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 997;
            opacity: 0.90;
        }

        .test-card {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
            padding: 10px 20px;
            border: 1px solid #e0e0e0;
            margin-top: 5px;
        }

        body.dark-mode .test-card {
            background-color: #2a2a2a;
            border-color: #444;
            box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
        }

        body.dark-mode .test-card:hover {
            background-color: #444;
            border-color: #c0daff;
        }

        .test-card:hover {
            background-color: #edf5ff;
            border-color: #c0daff;
        }

        .text-pad {
            padding-bottom: 4px;
        }

        .a-noDec {
            text-decoration: none;
        }

        .a-link {
            color: blue;
        }

        body.dark-mode .a-link {
            color: lightblue;
        }

        .text-list-content {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .image-frame {
            border-radius: 8px;
            border: black 1px solid;
        }

        body.darkmode .image-frame {
            border-radius: 8px;
            border: white 1px solid;
        }

        .ques_content {
            white-space: pre-wrap;
            overflow-wrap: break-word;
        }